---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Vigorous Velocity.">
  <main>
    <h1>Vigorous <span class="text-gradient">Velocity</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="blog"
        title="Blog"
        body="I write stuff. Must keep my secret identity."
      />
    </ul>
  </main>
</Layout>
